body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    color: #505050;
}

.project-column {
    min-width: 300px;
    height: 100%;
    background: #e0e0e0;
    box-shadow: inset -7px -3px 16px -7px rgba(0, 0, 0, 0.75);

    h4 {
        margin: 0;
        padding: 20px 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #505050;
        border-bottom: 1px solid #505050;
        font-weight: 400;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 10px 25px 10px 10px;
            border-bottom: 1px solid #bbbbbb;
            cursor: pointer;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            &.current-project {
                background: #fefefe;
                box-shadow: 0 2px 12px -1px rgba(0, 0, 0, 0.75);

                a {
                    color: #d0d0d0;
                }
            }

            a {
                color: #ebebeb;
                text-decoration: none;
                transition: all .3s ease-in-out;
                position: relative;
                z-index: 101;

                &:hover {
                    color: #303030;
                }
            }
        }
    }
}

#gulp-command-column {
    width: 100%;
    background: #fdfdfd;
    min-width: 400px;

    h4 {
        margin: 0;
        padding: 20px 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #505050;
        border-bottom: 1px solid #505050;
        font-weight: 400;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 10px 0 10px 10px;
            border-bottom: 1px solid #bbbbbb;
            cursor: pointer;

            &:first-of-type {
                border-top: none;
            }
        }
    }
    &.task-is-running {
        display: none;
    }
}

#gulp-running-task {
    display: none;
    width: 100%;
    background: #fdfdfd;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;

    #task-control {
        height: 40px;
        width: 100%;
        background: #fefefe;
        border-bottom: 1px solid #ebebeb;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;

            li {
                height: 25px;
                margin: auto 0;
                padding: 0;
                line-height: 25px;
                width: 50%;
                flex: 1 0 auto;

                &:first-of-type {
                    margin-left: 5px;
                    text-align: left;
                }

                &:last-of-type {
                    margin-right: 5px;
                    text-align: right;
                }

                a {
                    display: inline-block;
                    color: #fefefe;
                    text-decoration: none;
                    font-size: .8rem;
                    background-color: lightskyblue;
                    border: 1px solid #303030;
                    border-radius: 4px;
                    padding: 0 5px;
                    margin-right: 25px;
                }
            }
        }
    }

    #gulp-console {
        margin-top: 40px;
        margin-bottom: 40px;
        background: #fefefe;
        width: 100%;
        height: 100%;
        list-style: none;
        overflow: auto;

        li {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            margin: 5px 0;
            text-align: left;

            > * {
                margin: auto;
                clear: both;

                &:after {
                    content: "";
                    display: block;
                    white-space: pre;
                }
            }
        }
    }

    &.task-is-running {
        display: flex;
    }
}