body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  color: #505050; }

.project-column {
  min-width: 300px;
  height: 100%;
  background: #e0e0e0;
  box-shadow: inset -7px -3px 16px -7px rgba(0, 0, 0, 0.75); }
  .project-column h4 {
    margin: 0;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #505050;
    border-bottom: 1px solid #505050;
    font-weight: 400; }
  .project-column ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .project-column ul li {
      padding: 10px 25px 10px 10px;
      border-bottom: 1px solid #bbbbbb;
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      .project-column ul li.current-project {
        background: #fefefe;
        box-shadow: 0 2px 12px -1px rgba(0, 0, 0, 0.75); }
        .project-column ul li.current-project a {
          color: #d0d0d0; }
      .project-column ul li a {
        color: #ebebeb;
        text-decoration: none;
        transition: all .3s ease-in-out;
        position: relative;
        z-index: 101; }
        .project-column ul li a:hover {
          color: #303030; }

#gulp-command-column {
  width: 100%;
  background: #fdfdfd;
  min-width: 400px; }
  #gulp-command-column h4 {
    margin: 0;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #505050;
    border-bottom: 1px solid #505050;
    font-weight: 400; }
  #gulp-command-column ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    #gulp-command-column ul li {
      padding: 10px 0 10px 10px;
      border-bottom: 1px solid #bbbbbb;
      cursor: pointer; }
      #gulp-command-column ul li:first-of-type {
        border-top: none; }
  #gulp-command-column.task-is-running {
    display: none; }

#gulp-running-task {
  display: none;
  width: 100%;
  background: #fdfdfd;
  overflow: hidden;
  position: relative;
  padding-bottom: 50px; }
  #gulp-running-task #task-control {
    height: 40px;
    width: 100%;
    background: #fefefe;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0; }
    #gulp-running-task #task-control ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-flow: row nowrap; }
      #gulp-running-task #task-control ul li {
        height: 25px;
        margin: auto 0;
        padding: 0;
        line-height: 25px;
        width: 50%;
        flex: 1 0 auto; }
        #gulp-running-task #task-control ul li:first-of-type {
          margin-left: 5px;
          text-align: left; }
        #gulp-running-task #task-control ul li:last-of-type {
          margin-right: 5px;
          text-align: right; }
        #gulp-running-task #task-control ul li a {
          display: inline-block;
          color: #fefefe;
          text-decoration: none;
          font-size: .8rem;
          background-color: lightskyblue;
          border: 1px solid #303030;
          border-radius: 4px;
          padding: 0 5px;
          margin-right: 25px; }
  #gulp-running-task #gulp-console {
    margin-top: 40px;
    margin-bottom: 40px;
    background: #fefefe;
    width: 100%;
    height: 100%;
    list-style: none;
    overflow: auto; }
    #gulp-running-task #gulp-console li {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      margin: 5px 0;
      text-align: left; }
      #gulp-running-task #gulp-console li > * {
        margin: auto;
        clear: both; }
        #gulp-running-task #gulp-console li > *:after {
          content: "";
          display: block;
          white-space: pre; }
  #gulp-running-task.task-is-running {
    display: flex; }

/*# sourceMappingURL=index.css.map */
